.block-container {
  max-width: 50%;
  margin: auto;
  display: block;
  text-align: center;
}

.block-container-form {
  max-width: 90%;
  margin: auto;
  display: block;
  text-align: left;
}

.input {
  width: 100%;
}

.block-container-traslucid {
  max-width: 40%;
  margin: auto;
  display: block;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.8);
}

.background {
  background-image: url("/media/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 1px 1px #000000;
}
